body {
  background-color: #eceff0;
  background-color: #fff;
}

body, input {
  font: 1em "Open Sans", sans-serif;
  color: #363639;
}

a {
  text-decoration: none;
  /*border-bottom: 1px dashed #363639;*/
}
a:hover {
  text-decoration: underline;
}

.icon-nav a {
  border: none;
}

/* Projects/Items flexbox styling */
html, body {
    margin: 0;
    height: 90%;
}
body {
    height: 90%;
}
.app-container {
    display: -webkit-flex;
    display: flex;
    background-color: #fff;
    min-height: 80%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
.app-nav {
    background-color: #fff;
    -webkit-flex: 2;
    flex: 2;
}
.app-items {
    background-color: #fff;
    padding: 10px;
    -webkit-flex: 5;
    flex: 5;
}

/* List */
.list {
  background-color: #fff;
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 2px;
  /*box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);*/
  /*box-sizing: border-box;*/
}

.list .header {
  font-family: "Shadows Into Light Two", cursive;
  /*font-family: "Sofia", cursive;*/
  margin: 0 0 10px 0;
}

/* Projects */
h6 {
  color: #6D7781;
  color: #525F6C;
  font-family: "Sofia", cursive;
  font-weight: bold;
  font-size: 1.4em;
  text-align: left;
  margin-bottom: 20px;
}

.app-nav .items span{
  font-size: 0.8em;
}

/* Items */
.items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.items li:hover  .done-button{
  opacity: 1;
}

.items .item.done {
  text-decoration: line-through;
}

.items li, .item-add .input {
  border: 0;
  /*border-bottom: 1px dashed #ccc;*/
  padding: 15px 0;
  padding: 5px 0;
}
.item-add .input {
  border: 0;
  border-bottom: 1px dashed #ccc;
  padding: 15px 0;
}
.item-add .input::-webkit-input-placeholder {
  color: #8D949A;
}

.item-add .input {
  border-bottom: none;
}

.input {
  width: 100%;
}

.input:focus {
  outline: none;
}

/* Done button */
.done-button, .notdone-button, .del-button {
  display: inline-block;
  font-size: .8em;
  border-color: #d9dfe1;
  color: #363639;
  padding: 3px 6px;
  border: 0;
  opacity: 0.4;
}

.done-button:hover, .notdone-button:hover {
  color: black;
  text-decoration: underline;
}

.del-button {
  color: red;
}

.del-button:hover {
  opacity: 1;
}

/* Submit button */
input[type="submit"].submit-add-project {
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid #ddd;
  width: 100%;
  margin-top: 10px;
  color: #16aa56;
  transition: background 0.3s ease-in-out;
}
input[type="submit"].submit-add-project:hover {
  color: #fff;
  background: #16aa56;
  animation-name: shake;
}


/* MEDIA QUERIES */
/* Reduce margins for smaller screens/windows */
@media screen and (max-width:1200px) {
  .app-container {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 5%;
  }
}
/* One column */
@media screen and (max-width:950px) {
  .app-container {
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap-reverse;
    overflow: visible;
  }
  .app-nav {
    flex: 0 0 100%;
  }
  .app-items {
    flex: 0 0 100%;
  }
  .list, h1 {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
  }
}
/* Adapt to height */
@media screen and (max-height:750px) {
  .app-container, .app-nav, .app-items, h1, h6, .list  {
    margin-top: 0;
    padding-top: 0;
  }
  .app-container {
    padding-top: 3%;
  }
}
