/* Guide */
body {
  background-color: white;
}

.guide-box {
  width: 50%;
  margin-top: 50px;
  margin-left: 25%;
  margin-bottom: 50px;
  font-size: 16px;
  text-align: justify;
}
#sub-guide-box {
  width: 100%;
  background-color: #bec1c4;
  padding: 30px;
}
.guide-box p {
  color: #474747;
}
.guide-box a {
  color: #6D7781;
}
.guide-box a:hover {
  text-decoration: underline;
}

h6 {
  font-family: "Open Sans", sans-serif;
  font-family: "Shadows Into Light Two", cursive;
  font-family: "Sofia", cursive;
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #525f6c;
}

.guide-projects img, .guide-items img, .guide-mark img, .guide-delete img, .guide-print img, .guide-pdf img {
  margin: 20px;
  display: block;
  width: 350px;
  height: auto;
  text-align: left;
  padding: 1px;
  border: 1px solid #8d949a;
}

.guide-print img, .guide-pdf img {
  width: 850px;
  height: auto;
}

.guide-select img {
  margin: 20px 0 0 20px;
  width: 850px !important;
  height: auto;
  padding: 1px;
  border: 1px solid #8d949a;
}
/* Guide - Font Awesome Icons */
.red {
  color: #e44332;
}
.green {
  color: #16aa56;
}
.blue {
  color: #0060BF;
}
.pink {
  color: #DA2768;
}
.purple {
  color: #6A4CA6;
}
