/**
 * Content Styles
 */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  /*font-family: "Helvetica Neue", Arial, sans-serif;*/
}

.content {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

.content h1 {
  margin-top: 0;
}

/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.2rem;

  color: #C4C4C4;
  color: #435156;
  color: #6D7781;
  background-color: #343434;
  background-color: #020202;
  text-align:left;
  font-size: 0.7em;
}
.footer ul {
  list-style: none;
}
.footer-left {
  text-align:left;
  float:left;
  margin-left: 45%;
}
.footer-right {
  float:right;
  padding-bottom: 1.6em;
  margin-right: 45%;
}
.footer-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #020202;
  background-color: #343434;
  padding: 0.4rem;
  text-align: right;
  padding-right: 2rem;
}
