.icon-bar {
  width: 100%;
  text-align: center;
  background-color: #6d7781;
  overflow: auto;
}

.icon-nav {
  width: 20%;
  float: right;
}

.icon-bar a {
  width: 25%;
  padding: 12px 0;
  float: left;
  transition: all 0.3s ease;
  color: #f2f2f2;
  font-size: 16px;
}

.icon-bar a:hover {
  background-color: #2e3740;
}

.icon-bar a.active {
  background-color: #16aa56;
}

.disabled {
  color: #f6f6f6;
  background-color: #2e3740;
  cursor: default;
}

.hidden {
  display: none;
}

#tdl-icon {
  float: left;
  text-indent: -1000px;
}
#tdl-icon:hover {
  background-color: #6d7781;
  text-indent: -1000px;
  cursor: default;
}


/* MEDIA QUERIES */
/* Enlarge navigation icons for smaller screens/windows */
@media screen and (max-width:1200px) {
  .icon-nav {
    width: 40%;
  }
}
