
* {
  margin: 0;
  padding: 0;
}

body {
  background: #2E3740;
  /*background: #6D7781;*/
  color: #435160;
  /*color: #6D7781;*/
  font-family: "Open Sans", sans-serif;
}

.error {
  color: red;
}

.success {
  color: #1FCE6D;
  text-align: center;
}

h2, h3, h4, h5 {
  color: #6D7781;
  /*color: #2E3740;*/
  font-family: "Sofia", cursive;
  font-size: 15px;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2.5em;
}

h5 {
  font-size: 2.35em;
}

a {
  color: #435160;
  text-decoration: none;
}

.login {
  width: 350px;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -175px;
}

.espace {
  height: 20px;
}

.tab-liste {
  width: 600px;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -330px;
}

.non-liste {
  width: 500px;
}

#liste {
  display: block;
  margin: auto 0;
  text-align: center;
}
#liste th, #liste td {
  padding: 15px;
  text-align: center;
  background-color: #6D7781;
}
#liste th {
  background-color: #f2f2f2;
}

#modsup, #modsup a {
  font-size: 12px;
  min-width: 110px;
}
#modsup a {
  color: #f2f2f2;
}
#addLink {
  color: #6d7781;
}
#modsup a:hover, #addLink:hover {
  color: #435160;
}

#params td {
  padding: 15px;
  text-align: center;
  color: #6D7781;
  background-color: #f2f2f2;
}
#params td span a {
  font-size: 14px;
  min-width: 110px;
  color: #1FCE6D;
}
#params td span a:hover {
  text-decoration: underline;
}
.paramstitle {
  color: #6d7781;
}

input[type="text"], input[type="password"], textarea {
  width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: #6D7781;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
textarea {
  resize: vertical;
}
input[type=checkbox] {
  display: none;
}

label {
  display: block;
  position: absolute;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  content: "";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 3px solid #435160;
}
#agree:checked ~ label[for=agree] {
  background: #435160;
}
label::after, label::before{
  box-sizing: none;
}

input[type="submit"] {
  background: #1FCE6D;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
input[type="submit"]:hover {
  background: #16aa56;
  animation-name: shake;
}

.forgot {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
}
.forgot:hover {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #6D7781;
}

.logout {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #F9F9F9;
}
.logout:hover {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #6D7781;
}

.agree {
  padding: 30px 0px;
  font-size: 12px;
  text-indent: 25px;
  line-height: 15px;
}

::-webkit-input-placeholder {
  color: #435160;
  font-size: 12px;
}

.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

/* Aide */
.aide-box {
  font-size: 0.9em;
  /*text-align: left;*/

}
.aide-box a {
  font-style: normal;
  color: #f2f2f2;
}
.aide-box a:hover {
  text-decoration: underline;
}
.aide-box ul {
  list-style: none;
}

.contact-button {
  background: #1FCE6D;
  border: 0;
  width: 250px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* Goodbye */
.message-box {
    font-size: 14px;
    display: block;
    background: #8d949a;
    padding: 100px 50px 100px 50px;
}
.message-box a:hover {
  text-decoration: underline;
}
